body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

.item-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 400px;
    max-height: 400px;

}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input {
    width: 40px;
    text-align: center;
}

.total-price {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}